<header>TINYAPPxdfgsdfg</header>
<p><%= username %></p>

<% if (!username) { %>
  <form method="POST" action="/urls/login">
  <label for="login"> LOGIN: </label>
  <input type="text" name="username" >
  <button>GO</button>
</form>

<% } else { %>
<form method="POST" action="/urls/logout">
  <label for="logout"> LOGOUT <%= username %></label>
  <button>GO</button>
</form>
<% } %>




