<header>TINYAPP</header>
<p><%= user_ID %></p>

<form method="GET" action="/login">
  <label for="login"> LOGIN & LOGOUT </label>
  <button>GO</button>
</form>

<form method="GET" action="/register">
  <label for="register"> REGISTER: </label>
  <button>GO</button>
</form>


<br>



</br>




