<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>


<h2>Loop</h2>

<ul>
    <% for (var key in urls) { %>
      <li> shortURL
      <%= key %> + longURL:
   <%= urls[key] %>
   <li>
   <%} %>
</ul>




</body>
</html>