<!DOCTYPE html>
<% include partials/_header %>
<html lang="en">
  <head>
    <title>Tiny App -- URL LIBRARY</title>
  </head>
  <body>

    <h2>URL LIBRARY</h2>
    <ul>
      <% for (var key in urls) { %>
        <li> shortURL:
          <%= key %> longURL: %>
          <%= urls[key].longURL %>
          <form method="POST" action="/urls/<%= key %>/delete">
            <button>DELETE &#x1f5d1 </button>
          </form>
          <form method="GET" action="/urls/<%= key %>">
            <button> edit </button>
          </form>
        </li>
      <% } %>
    </ul>
  </body>
</html>