

<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body>





      <form method="POST" action="/urls/" style="margin:150px;">
        <label for="shortURL">Short URL: <%= shortURL %></label>
        <input id="shortURL" type="text" name="longURL" placeholder=<%= longURL %>
        <input type="submit" value>
      </form>



    </body>
</html>