<!DOCTYPE html>
 <% include partials/_header %>
<html lang="en">
  <head>
    <title>Tiny App -- LOGIN</title>
  </head>
    <body>
      <h2>LOGIN</h2>
      <% if (!user_ID) { %>
        <form action="/login" method="POST" >
          <label for="email"> enter an email: </label>
          <input type="email" name="email">
          <label for="password"> enter a password: </label>
          <input type="password" name="password">
          <button> submit </button>
        </form>

      <% } else { %>


      <form method="POST" action="/urls/logout">
        <label for="logout"> LOGOUT: </label>
        <button>GO</button>
      </form>

      <% } %>


    </body>
</html>