<!DOCTYPE html>
 <% include partials/_header %>
<html lang="en">
  <head>
    <title>Tiny App -- EDIT</title>
  </head>
    <body>

      <h2>EDIT</h2>
      <form method="POST" action="/urls/<%= shortURL %>">
        <label for="shortURL">URL: <%= shortURL %></label>
        <input id="shortURL" type="text" name="longURL" placeholder=<%= longURL %>
        <input type="submit" value>
        <button> submit </button>
      </form>

    </body>
</html>