<!DOCTYPE html>
<% include partials/_header %>
<html lang="en">
  <head></head>
  <body>
    <h1>NEW URL</h1>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>